body{
margin: 0;
}
nav{
    position: fixed;
    height: 40px;
    width: 100vw;
    background-color: gray;
    display: flex;
    justify-content: space-between;
}
.nave-content>ul>li{
display: inline-block;
    padding-right: 10px;
    margin-right: 10px;
}
.nav-navebar{
    padding-top: 60px;
    background-color: black;
    height: 40px;
    width: 100vw;


}
.w3-light-grey{
    color: gainsboro;
    padding-right: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;

}
/*.picture-section{*/
/*    border: 1px black;*/
/*    width: 400%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*}*/
/*section>div:nth-child(1){*/
/*    background: url("../assets/furniture 1.jpg");*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*}*/
/*section>div:nth-child(2){*/
/*    background: url("../assets/furniture 2.jpg");*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*}*/
/*section>div:nth-child(3){*/
/*    background: url("../assets/furniture 3.jpg");*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*}*/


.image-div {
    background-image: url("../assets/furniture 1.jpg");
    position: absolute;
    background-size: cover;
    width: 800px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 150px;
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: 50%;*/
}
.div-conatct{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 500px;
    width: 100vw;
    height: 10vh;


    /*padding: revert;*/
    /*margin-bottom: 10px;*/
    /*position: fixed;*/
    /*display: flex;*/
    /*justify-content: initial;*/

    /*background-color: black;*/
    /*height: 40vh;*/
    /*width: 100vw;*/
    
    /*float: left;*/
    /*display: block;*/
    /*color: black;*/
    /*text-align: center;*/
    /*padding: 14px 16px;*/
    /*text-decoration: none;*/
    /*font-size: 17px;*/
    
}
.div-details>h2{
   /*color: gainsboro ;*/
   /* display: inline-block;*/
   /* justify-content: space-between;*/
   /* justify-items: center;*/
   /* flex-direction: column;*/
    color: gainsboro;
    padding-right: 10px;
    margin-right: 10px;
    display: inline-flex;
    justify-content: space-between;

}
/*.section-company:nth-child(1){*/
/*    background-image: url("../assets/furniture 2.jpg");*/
/*    position: center;*/
/*    padding: 300px;*/
/*}*/


.div-example>p{
    top: 600px;
    overflow: hidden;
    position: fixed;
    width: 100vw;
    height: 15vh;

}
.div-paragraph>div:nth-child(1){
    background-image: url("../assets/furniture 2.jpg");
    width: 250px;
    height: 250px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-direction: row;
    position: fixed;
    top: 670px;
}
.div-paragraph>div:nth-child(2)>p{
    display: flex;
    position: fixed;
    top: 670px;
    left: 250px;
}
.div-location>div:nth-child(1){
    background-image: url("../assets/map damro.png");
    width: 250px;
    height: 250px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-direction: row;
    position: fixed;
    top: 950px;
}
.div-location>div:nth-child(2){
    position: fixed;
    display: flex;
    top: 950px;
    left: 300px;
}
.div-bed>div:nth-child(1){
    background-image: url("../assets/bed 2.jpg");
    width: 150px;
    height: 100px;
    background-size: cover;
    display: flex;
    position: fixed;
    top: 1260px;
}
.div-bed>div:nth-child(1)>h3{
    color: aqua;
    position: fixed;
    display: flex;
    top: 1350px;
}
.div-bed>div:nth-child(2){
    background-image: url("../assets/bed 3.jpg");
    width: 150px;
    height: 100px;
    background-size: cover;
    display: flex;
    position: fixed;
    top: 1260px;
    left: 200px;

}
.div-bed>div:nth-child(2)>h3{
    color: aqua;
    position: fixed;
    display: flex;
    top: 1350px;
    left: 200px;
}
.div-bed>div:nth-child(3){
    background-image: url("../assets/bed 4.jpg");
    width: 150px;
    height: 100px;
    background-size: cover;
    display: flex;
    position: fixed;
    top: 1260px;
    left: 400px;
}
.div-bed>div:nth-child(3)>h3{
    color: aqua;
    position: fixed;
    display: flex;
    top: 1359px;
    left: 400px;
}
.div-beddescription1>div:nth-child(1){
    background-image: url("../assets/bed 2.jpg");
    width: 150px;
    height: 100px;
    background-size: cover;
    display: flex;
    position: fixed;
    top: 1500px;


}
.div-beddescription1>div:nth-child(2)>p{
    display: flex;
    position: fixed;
    top: 1500px;
    left: 150px;
}